<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.experis.smartrac_HMD2"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
  <!--  <uses-permission android:name="android.permission.SEND_SMS" /> -->

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front"/>

    <application
        android:name="com.experis.smartrac_HMD2.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.experis.smartrac_HMD2.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.experis.smartrac_HMD2.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name="com.experis.smartrac_HMD2.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.DashBoardActivity"
            android:label="@string/title_activity_dash_board_activity_for_associates"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.GiveAttendanceTabbedActivity"
            android:label="@string/title_activity_give_attendance_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.ApproveAttendanceTabbedActivity"
            android:label="@string/title_activity_approve_attendance_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.AttendanceApprovalRevisedActivity"
            android:label="@string/title_activity_approve_attendance_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.AttendanceApprovalRevisedActivity1"
            android:label="@string/title_activity_approve_attendance_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.Attendance_Approval_Revised_Content_Activity1"
            android:label="@string/title_activity_approve_attendance_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.SalesTrackingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.CompetitorSalesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.ManageStocksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.TargetSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.experis.smartrac_HMD2.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.SOSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.AssociateReportsTabbedActivity"
            android:label="@string/title_activity_approve_attendance_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.AssociateReportsTabbedTLActivity"
            android:label="@string/title_activity_approve_attendance_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.LargerSelfieImageDisplayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- @android:style/Theme.DeviceDefault.Dialog" -->
        <activity
            android:name="com.experis.smartrac_HMD2.GeoFencingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.EmployeeInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.HRMSTabbedActivity"
            android:label="@string/title_activity_hrms_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.experis.smartrac_HMD2.geofenceing.GeolocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.experis.smartrac_HMD2.geofenceing.GeofenceReceiverService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.experis.smartrac_HMD2.MessagesForTLActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.MessagesForAssociateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.MessagesSentForTLActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- FCM for Push Notification -->
        <service android:name="com.experis.smartrac_HMD2.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.experis.smartrac_HMD2.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- End Of FCM for Push Notification -->

        <service
            android:name="com.experis.smartrac_HMD2.GeolocationService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.experis.smartrac_HMD2.GetCurrentLocationActivity"
            android:label="Current Location"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.InOutTime_ApprovalActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="com.experis.smartrac_HMD2.DashboardAttendanceCountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.SalesTrackingActivity_latest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.experis.smartrac_HMD2.KYCActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.experis.smartrac_HMD2.DistributeAssetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.experis.smartrac_HMD2.ReceiveAssetByManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.experis.smartrac_HMD2.ReceiveAssetByTLSOOActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.experis.smartrac_HMD2.ReceiveAssetByAssociateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.experis.smartrac_HMD2.DistributeAssetActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name="com.experis.smartrac_HMD2.ImageCapture"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.experis.smartrac_HMD2.ImageCapture1"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.experis.smartrac_HMD2.AddGroupActivity" />
        <activity android:name="com.experis.smartrac_HMD2.UpdateGroupActivity"></activity>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

    </application>

</manifest>
